language: node_js
node_js:
  - "6"
  - "7"
install:
  - npm install -g yarn
  - yarn
  - yarn run install:packages
  - yarn run test:all
cache:
  directories:
    - ~/.yarn
    - ~/.nvm
    - node_modules